/* Custom App CSS Below --------------------------------- */
/*Fonts ––––––––––––––––––––––––––––––––––––––––––––––––––*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* Main Layout ––––––––––––––––––––––––––––––––––––––––––––––––––*/
body {
  background-color: #1E1E1E;
  color: #d8d8d8;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5 {
  font-family: "Open Sans";
  font-weight: bold;
  letter-spacing: 2.1px;
  font-size: 21px;
  padding-left: 12px;
}
p {
  font-family: "Open Sans";
  color: #e6e3eea9;
  font-weight: 400;
  font-size: 14px;
  padding-left: 0px;
  text-align: left;
}

a {
  text-decoration: none;
}
.bg-grey{
  background-color: #31302F;
}
.text-padding{
  padding: 5px;
}
/* Graph Layout ––––––––––––––––––––––––––––––––––––––––––––––––––*/
.div-for-charts{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
#histogram {
  flex-grow: 1 
}
#map-graph {
  flex-grow: 1 
}
.mapboxgl-canvas, .mapboxgl-map {
  min-width: 100%;
}
/* Graph Control Objects ––––––––––––––––––––––––––––––––––––––––––––––––––*/
.div-user-controls {
  padding-left: 40px;
  padding-top: 50px;
}
.div-for-dropdown {
  padding-top: 12px;
  padding-bottom: 12px;
}

.div-for-side-by-side{
  display: flex;
  flex-direction: row;
  vertical-align:center;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;
  padding-top: 12px;
  /*outline: 1px dotted white;*/
}

.div-for-text-display{
  min-height: 35vh;
  max-height: 35vh;
  /*outline: 1px dotted white;*/
  background-color: #2b2b2b49;
  scroll-behavior: auto;
  border-bottom:10px;
  padding-top: 12px;
  padding-bottom: 12px;
  box-shadow: inset .5px .5px 0px 0px #999;
}

.div-for-text-updates{
  min-height: 2vh;
  max-height: 2vh;
  /*outline: 1px dotted white;*/
  background-color: #1f1f1f;
  scroll-behavior: auto;
  border-bottom:10px;
  padding-top: 12px;
  padding-bottom: 12px;
  color:#e6e3eea9;
}

.contact-details{
  display: flex;
  align-items: flex-end;
  min-height: 9vh;
  max-height:9vh;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 2.2rem;
  color: #e6e3ee41;
  text-align: left;
  /*outline: 1px dotted white;*/
  vertical-align: text-bottom;
}

.fdi-details{
  display: flex;
  align-items: flex-end;
  min-height: 5vh;
  max-height:5vh;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 2.2rem;
  color: #e6e3ee41;
  text-align: left;
  /*outline: 1px dotted white;*/
  vertical-align:middle;
}
.div-for-slider {
  width: 97%;
  text-align: center;
}
.logo {
  height: 35px;
  padding-bottom: 12px;
  margin-left: 8px;
}
.Select-control, .Select-menu-outer, .Select-multi-value-wrapper, .select-up, .is-open .Select-control {
  background-color: #1E1E1E;
  color: white;
  
}

#bar-selector .Select-multi-value-wrapper{
  max-height: 82px;
  overflow-y: auto;
  margin: 0px 0px -3px 0px;
}

.Select-control{
  border: 0.5px solid #dbdbdb44;
}

.has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label {
  color: white;
}
._dash-app-content {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}
.has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label{
  color: #d8d8d8;
  font-weight: 400;
  font-size: 14px;
}

